body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: #828282;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td:nth-child(3) {
    text-align: right;
}

td:nth-child(4) {
    text-align: center;
}

img {
    width: 100px;
    height: auto;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}